aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
backoff
certifi
charset-normalizer
chromadb
click
clickhouse-connect
dataclasses-json
distro
dnspython
duckdb
email-validator
fastapi
fastapi-cli
fastapi-cloud-cli
fastar
filelock
frozenlist
fsspec
h11
hf-xet
hnswlib
httpcore
httptools
httpx
httpx-sse
huggingface_hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
langchain-classic
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langsmith
lz4
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy_extensions
networkx
numpy
ollama
orjson
packaging
pandas
posthog
propcache
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
pypdf
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
regex
requests
requests-toolbelt
rich
rich-toolkit
rignore
safetensors
scikit-learn
scipy
sentence-transformers
sentry-sdk
setuptools
shellingham
six
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typer-slim
typing-inspect
typing-inspection
typing_extensions
urllib3
uuid_utils
uvicorn
uvloop
watchfiles
websockets
xxhash
yarl
zstandard
